includes:
	- vendor/phpstan/phpstan-nette/extension.neon
	- vendor/phpstan/phpstan-nette/rules.neon
	- vendor/tomasvotruba/type-coverage/config/extension.neon

parameters:
	level: 7
	paths:
		- MailLibrary
		- tests
	type_coverage:
		constant: 100
		property: 100
		param: 100
		return: 100
